::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0d293f; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(6, 52, 125); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 31, 120); 
  }
  