.Skill{
    
   padding: 1%;
    height: 500px;
   margin-top: 4.5%;
   margin-left: 15%;
   margin-right: 15%;
}

.heading_skill{
    color: aliceblue;
    font-family: cursive;
    font-style: italic;
    text-align: center;
     font-size: 50px;
}
.skills_left{
  margin-left: 100px;
  margin-top: 5%;
    float: left;
    width: 50%;
   color: aliceblue;
   display: flex;

 font-style: italic;

    
}
.all_skill{
   
}
.skills_right{
   margin-top:-32.5%;
    float: right;
    width: 40%;
    color: aliceblue;
    justify-content: flex-start;
    font-style: italic;
   
}
.skills_left ul h4,.skills_right ul h4{
    line-height: 2.5em;
   
}

.line{
   
    height: 380px;
    width: 1px;
   margin-left: 50%;
   border-image:   linear-gradient(to right, rgb(27, 94, 133) 85%, rgb(9, 120, 109) 100%,rgb(8, 47, 97) 7%) 3;

}

@media(max-width:60em){
   .skills_right{
      margin-top: -61%;
      display: flex;
      justify-content: flex-start;
   }
}

